/* 1.Tipografias
2. Imagenes
3. Contenedores */




/* 1.Tipografias--------------------------------------------------------------------------------------------------------- */
h1, h2, p, ul, li, a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 20px;
  padding: 10px 10px;
}

p .rectangulo{
text-align: left;
}

a:hover {
  color: orange;
}

ol:hover {
  color: orange;
}

.t1{
  background-color: rgb(0, 168, 219)
}
.t2{
  background-color: rgb(219, 204, 0)
}
.t3{
  background-color: rgb(219, 131, 0)
}
.t4{
  background-color: rgb(158, 39, 39)
}

.texto_justi{
  text-justify: auto;
  text-align: justify;
}
/* 2.Imagenes--------------------------------------------------------------------------------------------------------- */

img {
  width: auto;
  max-height: 1200px;
  float: left;
}

.img_contenedor {
  float: left;
  max-height: 600px;
  background-size: cover;
}

.img_card{
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
  /* border-radius: 50%; */
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 60%;
}


.contento {
  position: fixed;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 0px 0px;
}

/* 2.Contenedores--------------------------------------------------------------------------------------------------------- */
body{
  margin: 0px 0px;
  background-color:  rgb(53, 49, 49);
}

.contenido {
  max-width: 50%;
  max-height: 50%;
}

.color_container {

    display: block;
    max-width: 80%;
    max-height: 100%;
    text-align: center;
    float:right;
  }

.rectangulo{
    display: block;
    max-height: 25%;
    text-align: justify;
    padding: 20px 160px;
}



.grid-separador {
  display: grid;
  height: 200px;
}